@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&family=Montserrat:wght@900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: rgb(255, 255, 255);
  scroll-behavior: smooth;
}
body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}
abbr[title] {
  text-decoration: none;
}
.nav_container {
  width: 100%;
  padding: 0em 1em;
}

header {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(245.59deg, #2a5ddf 0%, #1f2890 28.53%, #110e4b 75.52%);
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
}

.nav_logo {
  width: 12em;
}

.nav_logo__img {
  width: 100%;
}

.nav_menu {
  font-size: 16px;
  display: flex;
  gap: 3em;
  margin-left: auto;
}

.nav_menu__link {
  font-size: 1em;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: all 0.8s ease;
}

.nav_menu__link:hover {
  border-bottom: 2px solid rgb(245, 245, 245);
}

.nav_menu-icon>i {
  color: white;
  cursor: pointer;
  font-size: 1.8em;
  z-index: 1;
  display: none;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2em;
  padding: 0 15%;
  height: 80vh;
}

#typewriter {
  font-size: 1em !important;
}

.Typewriter__wrapper {
  font-size: 1em;
}

.hero__text {
  color: white;
  font-size: 12px;
}

.hero__text__one {
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
}

.hero__text__two {
  font-size: 1em;
  font-weight: bold;
  line-height: 3;
}

.hero__text__title {
  font-size: 2.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-bottom: 1em;
}

.hero__text__subtitle {
  margin-bottom: 2em;
  font-size: 1em;
}

.hero__text>a {
  display: inline-block;
  color: white;
  background: rgb(77, 83, 148);
  border: 1px solid transparent;
  font-size: 1em;
  border-radius: 30px;
  line-height: 1;
  font-weight: 500;
  transition: all .55s ease;
}

.hero__text>a:hover {
  background: transparent;
  border: 1px solid white;
}

.hero__text__link {
  margin-right: 2em;
}

.ico>i {
  vertical-align: middle;
  margin-right: 5px;
}

.hero_img {
  /* margin-left:  100px; ; */
  width: 100%;
  height: auto;

}

.hero_img>img {
  width: 100%;
  animation: Move 2s ease-in-out infinite;
}

@keyframes Move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }

}

.icons {
  position: absolute;
  top: 60%;
  padding: 0 5%;
  transform: translateY(-50%);
}

.icons i {
  display: block;
  margin: 1.5em 0;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  transition: all .5s ease;
}

.icons i:hover {
  transform: translateY(-5px);
  color: rgb(119, 150, 227);
}

.scroll-down {
  position: absolute;
  bottom: 6%;
  right: 9%;
}

.scroll-down i {
  display: block;
  padding: 0.7em;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  background-color: rgb(119, 150, 227);
  border-radius: 50%;
  transition: all .5s ease;
}

.scroll-down i:hover {
  transform: translateY(-5px);
  /* color: rgb(7, 7, 7); */
}

/* Main */

.container{
  width: 100%;
  padding: 3em 1em;
}
/* Section advantages */
.advantages{
  text-align: center;
}
.advantages-container{
  display: flex;
  gap: 1em;
  flex-direction: column;
}
.advantages-container__card{
  flex: 1;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .advantages-container__card:hover{
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 251, 251, 0.582);
  transition: all .5s ease-in-out;
  cursor: pointer;
} */

.advantages-container__card__ico > i{
  font-size: 3em;
  color: white;
}
.advantages-container__card__text{
  text-align: center;
}
.card__text__title{
  text-align: center;
  padding-bottom: 0.5em;
}

.nosotros__empresa{
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2em;
}
.nosotros__text__title{
  font-size: 2.5em;
  border-bottom: 2px solid #110e4b;
}

.nosotros_img{
  width: 100%;
}

.nosotros_img > img {
  width: 100%;
  border-radius: 1em;
}

.nosotros__text__subtitle{
  font-family: 'Hind', sans-serif;
  font-size: 2em;
  padding: 1em 0;
}
.nosotros__text__body{
  font-size: 1.1em;
}
.nosotros__text__body span{
  font-size: 1.2em;
}
.nosotros__skill{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nosotros__skill__icon{
  margin: 1em;
  font-size: 2em;
  padding: 1em;
  border: 1px solid;
  border-radius: 50%;
  animation: Move 2s ease-in-out infinite;
}

.nosotros__skill__text__title{
  font-family: 'Hind', sans-serif;
  text-align: start;
  font-size: 1.5em;
  padding: 1em 0;
}
.nosotros__skill__text__body{
  font-size: 1.2em;
}

.proyect{
  margin: 2em 0;
  background-color: rgb(17, 14, 75);
  color: rgb(163, 182, 231);
  display: flex;
  gap: 3em;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2em 5em;
}
.proyect__card{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 80%;
}
.proyect__card__ico > i{
  font-size: 4em;
}
.proyect__card__body{
  font-size: 16px;
}
.proyect__card__body__number{
  font-size: 1.5em;
  font-weight: bold;
}
.proyect__card__body__text{
  font-size: 1.5em;
}
.servicios{
  text-align: center;
  
}
.servicios__title{
  font-size: 2.5em;
  margin-bottom: 1em;
}
.servicios__text{
  font-size: 1.2em;
}

.servicios__card-container{
  padding: 2em 2em;
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: center;
  /* background-color: #2bfc10; */
  flex-direction: column;
}
.servicios__card{
  position: relative;
  width: 250px;
  height: 350px;
}
.servicios__card .servicios__card_face{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s;
}
.servicios__card .front{
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}
.servicios__card .front img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.servicios__card .front h3{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
}
.servicios__card .back{
  transform: perspective(600px) rotateY(180deg);
  background: rgb(3, 35, 54);
  /* background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url("../media/servicios/servicios3.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px red;
}
.servicios__card .back .servicios__card_face__link{
  border-top: 1px solid red;
  height: 50px;
  line-height: 50px;
}
.servicios__card .back .servicios__card_face__link a{
  color: red;
}
.servicios__card .back h3{
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 5px;
}
.servicios__card .back p{
  letter-spacing: 1px;
}
.servicios__card:hover .front{
  transform: perspective(600px) rotateY(180deg) ;
}
.servicios__card:hover .back{
  transform: perspective(600px) rotateY(360deg);
}
.galeria{
  margin-top: 2em;
}
.galeria__title{
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 0.5em;
}
.galeria__subtitle{
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
}
.galeria__fotografia__container{
  width: 100%;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 10%;
}
.galeria__fotografia{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  justify-items: center;
}
.galeria__fotografia a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all .5s ease;
}
.galeria__fotografia a:hover{
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgb(137, 235, 220), 0 6px 20px 0 rgba(102, 128, 233, 0.19);
}
.galeria__fotografia img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galeria__videos__container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.galeria__videos__container .galeria__videos__container__video{
  height: 15rem;
  width: 25rem;
  margin: 2rem;
  box-shadow: 0 .5rem 1 rem rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 1rem;
}
.galeria__videos__container .galeria__videos__container__video video{
  height: 100%;
  width: 100%;
  object-fit: cover;
  outline: none;
  border: none;
}

.galeria__videos__container .galeria__videos__container__video video:hover{
  transition: .2s linear;
  transform: scale(1.3);
  cursor: pointer;
}
.galeria__videos__container .galeria__videos__container__video .video-active{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  height: auto;
  width: 80%;
  box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.7);
}
.galeria__videos__container .galeria__videos__container__video .video-active:hover{
  transition: none;
  transform: translate(-50%, -50%) scale(1);
}
.contactanos{
  background: #2a5ddf;
  padding: 5em 0;
}
.contactanos__title{
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 0.5em;
}
.contactanos__text{
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
}
.contactanos__contact{
  /* background-color: #372fc6; */
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 100%;
  padding: 2em 0;
}
.contactanos__contact__box1{
  background: rgb(149, 144, 243);
  margin: 0em 3em;
}
.contact_card{
  /* background: rgb(77, 83, 148); */
  margin: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contact_card__icon{
  color: white;
  font-size: 3.5em;
  text-align: center;
}
.contact_card__title{
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  padding: 1rem 0;
}
.contact_card__text{
  text-align: center;
  font-size: 1.2em;
}
.contact_card__text a{
  color: black;
}
.contactanos__contact__box2{
  /* background: rgb(243, 228, 144); */
}
.formulario{
  width: 90%;
  margin: auto;
  /* margin-top: 30px; */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgb(0, 0, 0, .3);
}
/* textarea{
  resize: none;
} */
.formulario__title{
  text-align: center;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
  font-size: 1.5em;
}
.formulario__input, .formulario__textarea, .formulario__label, .formulario__submit {
  display: block;
  width: 100%;
  font-size: 1.1em;
  transition: all .5s ease-in;
}
.formulario__input, .formulario__textarea {
  padding: 10px;
  background: transparent;
  border-bottom: 1px solid black !important;
  border: none;
  outline: none;
  margin-bottom: 30px;
}
.formulario__input:focus, .formulario__textarea:focus{
  background: rgba(255, 255, 255, .3);
  border-radius: 15px;
}
.formulario__label{
  margin-bottom: 15px;
}

.formulario__submit{
  background: rgba(0, 0, 0, .7);
  color: #fff;
  cursor: pointer;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  transition: all .5s ease;
  width: 50%;
  margin: auto;
}

.formulario__submit:hover{
  background: rgb(35, 36, 74);
  scale: 1.2;
}

/* =================================================================== */
/*                        RESPONSIVE DESING                            */
/* =================================================================== */

/* X-Small devices (landscape phones, 320px and up) */
@media (min-width: 320px) {
  html{
    background-color: rgb(212, 150, 150);
  }
  .icons{
    display: none;
  }
  .scroll-down{
    display: none;
  }
  .nav_menu-icon>i{
    display: block;
  }
  .nav_menu{
    position: absolute;
    top: 100%;
    right: 100%;
    width: 100%;
    height: auto;
    background: rgb(17, 14, 75);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    transition: all .55s ease;
    z-index: -1;
    opacity: 0;
  }

  .nav_menu.open{
    z-index: 1;
    opacity: 1;
    /* background: rgba(17, 14, 75, 0.9); */
    background: rgba(0, 0, 0, 0.9);
    right: 0;
  }

  .hero{
    /* height: 100%; */
    gap: 1rem;
    grid-template-columns: 1fr;
  }
  .hero__text__link{
    margin: 0.2em;
    padding: 0.8em 2em;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  html{
    background-color: red;
  }
  .hero {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2em;
    padding: 0 5%;
  }
  .hero__text {
    font-size: 10px;
  }
  .advantages{
    text-align: center;
  }
  .advantages-container{
    display: flex;
    gap: 1em;
    flex-direction: row;
  }
  .advantages-container__card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .servicios__card-container{
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  html{
    background-color: green;
  }
  /* section{
    margin: 0;
  } */
  .nav_logo {
    width: 18em;
  }
  .nav_menu{
    font-size: 1.1em;
    justify-content: end;
    position: relative;
    right: 0;
    background: transparent;
    display: flex;
    align-items: center;
    flex-direction: row;
    transition: all .55s ease;
    z-index: 1;
    opacity: 1;
  }
  .nav_menu-icon>i{
    display: none;
  }
  .hero {
    padding: 0 8%;
  }
  .icons{
    display: block;
    right: 0;
  }

  .container{
    padding: 2em 5em;
  }
  
  .advantages-container__card{
    font-size: 20px;
  }
  .nosotros__empresa{
    flex-direction: row;
  }
  .nosotros__text{
    flex: 2;
  }
  .nosotros__text__subtitle{
    padding: 0.5em 0;
  }
  .nosotros_img{
    flex: 1.5;
    width: 100%;
  }
  .nosotros__skill{
    flex-direction: row;
    padding: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .proyect{
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 2em 5em;
  }
  .contactanos__contact{
    flex-direction: row;
  }
  .contactanos__contact__box1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
    width: 50%;
  }
  .contact_card{
    width: 40%;
  }
  .contact_card:hover .contact_card__icon{
    animation: Move 2s infinite;
  }
  .contact_card__text:hover > a{
    color: #fff;
  }
  .contactanos__contact__box2{
    width: 50%;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  html{
    background-color: yellow;
  }
  .nav_logo {
    width: 28em;
  }
  .hero__text {
    font-size: 20px;
  }
  .icons{
    top: 50%;
    padding: 0 5%;
    display: block;
  }
  .nosotros__text{
    flex: 2;
  }
  .nosotros_img{
    flex: 1;
    width: 100%;
  }
  .advantages-container__card{
    font-size: 20px;
  }
  .proyect{
    gap: 2em;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    background-color: purple;
  }
  
  .icons i {
    font-size: 2em;
  }
  .container{
    padding: 2em 10em;
  }
  .advantages-container__card{
    font-size: 23px;
  }
  .proyect{
    gap: 4em;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  html{
    background-color: rgb(39, 217, 226);
  }
  .nav_menu{
    font-size: 23px;
  }
  .hero__text {
    font-size: 23px;
  }
  .icons i {
    font-size: 2.5em;
  }
  .container{
    padding: 2em 10em;
  }
  .advantages-container__card{
    font-size: 23px;
  }
  .advantages-container{
    gap: 2em;
  }
}